// Here you can add other styles
@media (min-width: 992px){
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
     margin-left: 260px;
  }
  .sidebar-fixed .sidebar {
     position: fixed;
     z-index: 1019;
     width: 260px;
     height: 100vh;
  }
}
body{
 background-color: rgba(0, 0, 0, 0.03);
 a{
  color: $main-color-df;
  &:hover{
   color: $main-color-df;
   opacity: .8;
  }
 }
 a.btn-default{
  &:hover{
   color: #FFF;
  }
 }
}
.sidebar-lg-show{
 .app-header{
  .navbar-toggler{
   .navbar-toggler-icon{
    &:after{
     content: "\E601";
    }
   }
   &:hover{
    .navbar-toggler-icon{}
   }
  }
 }
}
.app-header{
 .navbar-toggler{
  &.btn-show-nav{
   display: flex;
   height: 55px;
   text-align: center;
   justify-content: center;
   border-right: 1px solid #c8ced3;
   width: 55px;
   transition: all .25s;
   border-radius: 0;
  }
  &:hover{
   background-color: #f9f9f9;
   border-bottom: 1px solid #c8ced3;
   .navbar-toggler-icon{
    color: #FF9800;
   }
  }
  .navbar-toggler-icon{
   background-image: none;
   -webkit-font-smoothing: antialiased;
   font-family: simple-line-icons;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 1;
   speak: none;
   text-transform: none;
   padding-top: 5px;
   transition: all .25s;
   &:after{
    content: "\E606";
   }
  }
  &:hover{
   .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='26px' height='20px' viewBox='0 0 26 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cg id='ico-mn' transform='translate(2.000000, 2.000000)' fill='%23000000' fill-rule='nonzero' stroke='%23FFFFFF' stroke-width='2.25'%3E%3Cpath d='M0,0 L22,0 M0,8 L22,8 M11,16 L22,16' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    opacity: .85;
   }
  }
 }
}
html:not([dir="rtl"]) .sidebar {
    margin-left: -260px;
}
.top-logo{
  background: $main-color-df;
  width: 0;
  padding: 0;
  display: flex;
  transition: all 0.25s;
  .navbar-brand{
   display: none;
  }
}
.sidebar-lg-show{
 .top-logo{
  width: 260px;
  padding: 0 15px;
  a{
    color:#FFF;
    font-weight: bold;
    font-size: 14px;
    display: inline-flex;
    &:hover{
     color:#FFF;
    }
  }
 }
}
.sidebar-minimized{
 .top-logo{
  width: 50px;
  position: relative;
  padding: 0;
  .navbar-toggler{
   display: none;
  }
 }
}
.breadcrumb{
 background-color: transparent;
 border-bottom: none;
 margin-bottom: 0;
 margin-top: 13px;
 padding-left: 0px;
 .breadcrumb-item{
  .active{
   color: #777;
  }
 }
}
.app-body .sidebar {
    flex: 0 0 260px;
    order: -1;
}
.sidebar .sidebar-nav,
.sidebar .nav{
 width: 260px;
}
.app-header .navbar-toggler{
 width: 40px;
 outline: none;
}
.sidebar{
 .sidebar-minimizer{
  flex: 0 0 44px;
  &:before{
   content:"Thu nhỏ";
   width: 100%;
   background-image: none;
   line-height: 44px;
   background-color: #f6f6f6;
   // box-shadow: 1px -2px 2px rgba(0,0,0,.12);
   height: 44px;
   text-transform: uppercase;
   transition: 0s;
  }
 }
 .sidebar-nav{
  background-color: #FFF;
  .nav-item{
   font-weight: 500;
   &.big-item{
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    &:after{
     content: '';
     position: absolute;
     height: 1px;
     width: 95%;
     background: rgba(255,255,255,1);
     background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,0.20) 50%, rgba(246,246,246,0.12) 100%);
     background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(0,0,0,0.20)), color-stop(100%, rgba(246,246,246,0.12)));
     background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,0.20) 50%, rgba(246,246,246,0.12) 100%);
     background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,0.20) 50%, rgba(246,246,246,0.12) 100%);
     background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,0.20) 50%, rgba(246,246,246,0.12) 100%);
     background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,0,0,0.20) 50%, rgba(246,246,246,0.12) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=1 );
     bottom: -10px;
     transform: translateX(-50%);
     left: 50%;
    }
   }
   .nav-link{
    border-left: 3px solid transparent;
    &.active{
     border-left-color: $main-color-df;
    }
    &:hover{
     border-left-color: $main-color-df;
     background-color: rgba(0, 0, 0, 0.03);
     .nav-icon{
      color: $main-color-df;
     }
    }
   }
   &.nav-dropdown{
    .nav-link{
     border-left: 3px solid transparent;
     &:hover{
      border-left-color: $main-color-df;
      .nav-icon{
       color: $main-color-df;
      }
     }
    }
   }
   .nav-dropdown-toggle{
    border-left: 3px solid transparent;
   }
   &.open{
    background-color: #FFF;
    .nav-dropdown-toggle{
     color: $main-color-df;
     border-left-color: $main-color-df;
     background-color: rgba(0, 0, 0, 0.03);
     .nav-icon{
      color: $main-color-df;
     }
    }
   }
   .nav-dropdown-items{
    transition: max-height .7s ease-in-out;
    .nav-item{
     font-weight: 400;
     &:first-child{
      margin-top: 10px;
     }
     &:last-child{
      margin-bottom: 10px;
     }
     .nav-link{
      color: #777777;
      position: relative;
      padding-left: 69px;
      padding-top: 9px;
      padding-bottom: 9px;
      .nav-icon{
       position: absolute;
       top: 12px;
       left: 45px;
      }
      &:hover{
       background-color: transparent;
       color: $main-color-df;
       .nav-icon{
        color: $main-color-df;
       }
      }
      &.active{
       background-color: transparent;
       border-left-color: $main-color-df;
       color: $main-color-df;
      }
     }
    }
   }
  }
  .nav-link{
   color:#212121;
   &.active{
    color: $main-color-df;
    background: rgba(0,0,0,.03);
    .nav-icon{
     color: $main-color-df;
    }
   }
  }
 }
}
.sidebar-minimized{
 .sidebar{
  .sidebar-minimizer{
   &:before{
    width: 50px;
    height: 50px;
    content: "";
    background-size: 50%;
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='56px' height='56px' viewBox='0 0 56 56' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3c/defs%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='menu' fill='%23000000' fill-rule='nonzero'%3e%3cpath d='M28,0 C12.561,0 0,12.561 0,28 C0,43.439 12.561,56 28,56 C43.439,56 56,43.439 56,28 C56,12.561 43.439,0 28,0 Z M28,54 C13.663,54 2,42.336 2,28 C2,13.664 13.663,2 28,2 C42.337,2 54,13.664 54,28 C54,42.336 42.337,54 28,54 Z' id='Shape'%3e%3c/path%3e%3cpath d='M40,16 L16,16 C15.447,16 15,16.448 15,17 C15,17.552 15.447,18 16,18 L40,18 C40.553,18 41,17.552 41,17 C41,16.448 40.553,16 40,16 Z' id='Shape'%3e%3c/path%3e%3cpath d='M40,27 L16,27 C15.447,27 15,27.448 15,28 C15,28.552 15.447,29 16,29 L40,29 C40.553,29 41,28.552 41,28 C41,27.448 40.553,27 40,27 Z' id='Shape'%3e%3c/path%3e%3cpath d='M40,38 L16,38 C15.447,38 15,38.448 15,39 C15,39.552 15.447,40 16,40 L40,40 C40.553,40 41,39.552 41,39 C41,38.448 40.553,38 40,38 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
   }
  }
 }
}
.navbar-nav{
 .nav-link{
  i{
   color: #8CA0B3;
  }
 }
}
.b-flex{
 display: flex;
 flex-flow:row wrap;
 align-items: center;
 label{
  display: flex;
 }
 .form-control{
  display: inline-block;
  vertical-align: middle;
  width: auto
 }
}
.card{
 &.card-de1{
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 8px;
  transition: all 0.3s ease;
  &:hover{
   box-shadow: 0 3px 8px 2px rgba(60, 64, 67, .09);
  }
  .show-filter-box{
   .card{
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 2px;
    .label-custom{
     font-weight: bold;
    }
    .b-flex{
     .label-custom{
      margin-bottom: 0;
      margin-right: 15px;
     }
    }
   }
   .title-box{
    font-size: 14px;
    padding-bottom: 15px;
    position: relative;
    font-weight: bold;
    color: #555;
    &:before{
     position: absolute;
     content: '';
     width: 3px;
     height: 100%;
     background-color: $main-color-df;
     left: -22px;
     top: -6px;
    }
   }
   .basic-box{
    .check-items{
     border-bottom: 1px dashed #ddd;
     margin-bottom: 20px;
    }
    .input-list{
     display: flex;
     align-items: center;
     .input-item{
      width: 33.33%;
      padding: 0 5px;
      &:first-child{
       padding-left:0px;
      }
      &:last-child{
       padding-right:0px;
      }
     }
    }
   }
  }
  .function-list{
   .func-t{
    .search{
     list-style: none;
     padding: 0;
     margin: 10px 0;
     border-bottom: 1px dashed #eee;
     padding-bottom: 10px;
     li{
      display: inline-block;
      padding: 5px 15px;
      border: 1px solid #ccc;
      border-radius: 30px;
      color: #555;
      transition: all .3s linear;
      margin-right: 5px;
      i{
       cursor: pointer;
      }
      &:hover{
       background: #f4f4f4;
       color: #111;
      }
     }
    }
   }
   .func-b{

   }
  }
  .panel-title-de1{
   display: flex;
   flex-direction: row;
   height: 60px;
   align-items: center;
   margin-top: -15px;
   margin-bottom: 20px;
   position: relative;
   &:after{
    position: absolute;
    content: '';
    height: 1px;
    width: calc(100% + 2.5rem);
    left: -1.25rem;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.06);
   }
   div:first-child{
    display: flex;
    align-items: center;
    h4{
     display: inline-block;
     margin-right: 15px;
     margin-bottom: 0;
    }
   }
  }
  .card-tbl-de1{
   border: none;
   .card-header{
    display: none;
   }
   .card-body{
    padding: 1.25rem 0;
   }
  }
 }
}
.btn-default {
    color: #fff;
    background-color: $main-color-df;
    border-color: $main-color-df;
    &:hover{
     background-color: $main-color-df-hover;
     border-color: $main-color-df-hover;
    }
}
.btn-outline-default {
    color: $main-color-df;
    background-color: transparent;
    border-color: $main-color-df;
    &:hover{
     background-color: $main-color-df;
     border-color: $main-color-df;
     color: #FFF;
    }
}
.map-corp{
 .nav{
  padding: 10px;
  .nav-item{
   .collap-list{
     overflow: hidden;
     position: relative;
     &:before{
      position: absolute;
      left: -16px;
      width: 3px;
      height: 100%;
      background-color: #FFF;
      content: '';
      z-index: 1;
     }
   }
   &.lvl1{
    .child-tree{
     position: relative;
     &:before{
      position: absolute;
      left: 6px;
      width: 1px;
      height: 100%;
      background-color: transparent;
      content: '';
      border-left: 1px dashed #ccc;
     }
    }
   }
   &.lvl2{
    padding-top: 8px;
    .child-tree{
     position: relative;
     &:before{
      position: absolute;
      left: 6px;
      width: 1px;
      height: 100%;
      background-color: transparent;
      content: '';
      border-left: 1px dashed #ccc;
     }
    }
    // .collap-list{
    //  &:before{
    //   position: absolute;
    //   left: 6px;
    //   width: 1px;
    //   height: 100%;
    //   background-color: #FFF;
    //   content: '';
    //  }
    // }
   }
   .item-first{
    display: flex;
    align-items: baseline;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    i{
     padding-right: 5px;
    }
   }
   &.has-child{
    .child-tree{
     padding-left: 21px;
     list-style: none;
     // &:before{
     //  position: absolute;
     //  left: 17px;
     //  width: 1px;
     //  height: 100%;
     //  background-color: transparent;
     //  content: '';
     //  border-left: 1px dashed #ccc;
     // }
     .nav-item{

     }
    }
   }
  }
 }
}
.tbl-de{
 > .table-custom{
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 2px;
  position: relative;
  .row:first-child{
   position: absolute;
   bottom: 0px;
   left: 20px;
   z-index: 2;
  }
 }
 .tbl-nosearch{
  .VueTables__search{
   display: none;
  }
 }
 .VueTables__table{
  .VueTables__sortable{
   .glyphicon{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: CoreUI-Icons-Linear-Free !important;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
    float: initial;
    padding-left: 7px;
    padding-top: 1px;
    display: inline-block;
    &.glyphicon-sort{
     &:before{
      content: "\E94D";
     }
    }
    &.glyphicon-chevron-up{
     &:before{
      content: "\E909";
     }
    }
    &.glyphicon-chevron-down{
     &:before{
      content: "\E906";
     }
    }
   }
  }
  thead{
   tr{
    background-color: #FFF;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    height:56px;
    th{
     border:none;
     padding: 0 22px;
     font-weight: 500;
     font-size: 12px;
     transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
     white-space: nowrap;
     vertical-align: middle;
     &:hover{
      .VueTables__heading{
       color:#FF9800;
       opacity: 1;
      }
     }
     span{
      font-weight: 600;
      opacity: .65;
     }
    }
   }
  }
  tbody{
   tr{
    border-bottom: 1px solid rgba(0,0,0,0.12);
    &:nth-of-type(odd){
     background-color: #FFF;
    }
    &:nth-of-type(even){
     // background-color: #c6cbd433;
     background-color: #FFF;
    }
    td{
     padding: 0 22px;
     height: 44px;
     border:none;
     font-weight: 400;
     font-size: 13px;
     vertical-align: middle;
     label{
      margin-bottom: 0;
     }
     input[type="checkbox"]{

     }
    }
    &:hover{
     background-color: #c6cbd433;
    }
   }
  }
  .col-action{
   min-width: 12%;
   .btn-custom{
    align-items: center;
    display: inline-flex;
    font-size: 16px;
    justify-content: center;
    line-height: 1;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    vertical-align: text-bottom;
    padding: 3px;
    background-color: transparent;
    color: rgba(0,0,0,0.54);
   }
  }
 }
 .VueTables__search-field{
  display: flex;
  label{
   padding-right: 7px;
  }
 }
 .VueTables__limit-field{
  display: flex;
  label{
   padding-right: 7px;
  }
 }
 .VuePagination{
  width: 100%;
  padding-right: 0;
  height: 51px;
  nav{
   display: flex;
   align-items: center;
   width: 100%;
   flex-direction: row-reverse;
   ul.VuePagination__pagination{
    .VuePagination__pagination-item{
     margin-left: 5px;
     margin-right: 5px;
     &:first-child{
      margin-left: 0;
     }
     &:last-child{
      margin-right: 0;
     }
     .page-link{
      border-radius: 2px;
      border: 1px solid #C6CBD4;
      color: #777;
     }
     &.active{
      .page-link{
       background-color: #FF9800;
       border-color: #FF9800;
       color: #FFF;
      }
     }
    }
   }
   .VuePagination__count{
    max-width: fit-content;
   }
  }
 }
}
.custom-slbox{
 border-bottom: 1px solid #ccc;
 background-color: #f9f9f9;
 padding: 0 5px 0 10px;
 .form-control{
  &.sl-tv-style1{
   border: none;
   position: relative;
   background-color: transparent;
   outline: none !important;
   box-shadow: none;
   height: 35px;
   &:focus,
   &:active{
    outline: none !important;
    box-shadow: none;
   }
  }
 }
}
.tbl-adv-fil{
 padding-top: 10px;
 margin-top: 10px;
 border-top:1px dashed #ddd;
 table.show-fil-col{
  width: 100%;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  tr{
   th,td{
    width: 25%;
    padding: 10px;
    border-left: 1px solid #eee;
   }
  }
  table.mx-panel-date{
   tr{
    th,td{
     width: 32px;
     padding: 0;
     border-left: none;
    }
   }
  }
  .btn-remove{
   background-color: transparent;
   color: #777;
   border: 1px solid #eee;
   transition: all .3s linear;
   &:hover{
    background-color: #f4f4f4;
    cursor: #333;
   }
  }
  .custom-datepicker-style1{
   height: 34px;
   &.mx-datepicker{
    width: 100%;
    .mx-input{
     border: none;
     border-bottom: 1px solid #ccc;
     border-radius: 0;
     box-shadow: none;
    }
    .mx-input-append{
     .mx-calendar-icon{
      height: auto;
     }
    }
   }
  }
 }
}
.form-search-2{
 .show-md-info{
  button{
   position: absolute;
   right: 15px;
   top: 0;
   background-color: transparent;
   border: none;
   box-shadow: none;
   outline: none;
   color: #777;
   transition: all .3s linear;
   &:hover{
    color: #111;
   }
  }
 }
}
.custom-input-style1{
 height: 36px;
 width: 100%;
 border: none;
 border-bottom: 1px solid #ccc;
 outline: none;
 box-shadow: none;
 padding-left: 7px;
 padding-right: 7px;
 border-radius: 0;
 box-shadow: none;
 &.h30{
  height: 30px;
 }
}
.table-custom{
 &.sml-table{
  .row{
   &:first-child{
    position: relative;
    left: 0;
    margin: 0;
    padding-top: 20px;
   }
  }
  .VueTables__search{
   float: none;
   margin-bottom: 0;
   .VueTables__search-field{
    display: flex;
    width: 100%;
    label{
     margin-right: 10px;
     font-weight: 500;
    }
    input{
     height: 34px;
     width: 100%;
     border: none;
     border-bottom: 1px solid #ccc;
     outline: none;
     box-shadow: none;
     border-radius: 0;
     padding-left: 5px;
    }
   }
  }
 }
}
.tree-default-large{
 .tree-container-ul{
  >.tree-node{
   &.tree-open{
    &:first-child{
     >i.tree-icon{
      height: 32px;
      border-top: 9px solid #FFF;
      background-position: -128px -9px;
     }
    }
   }
   &.tree-closed{
    &:first-child{
     >i.tree-icon{
      height: 32px;
      border-top: 9px solid #FFF;
      background-position: -96px -9px;
     }
    }
   }
  }
 }
}
.custom-checkbox{
 &.custom-control-inline{
  height: 35px;
  align-items: center;
 }
}
.more-func{
 padding-bottom: 10px;
 margin-bottom: 10px;
 border-bottom: 1px dashed #eee;
 margin-top: 11px;
 >button.btn-sm{
  height: 30px;
  width:30px;
 }
 .custom-checkbox-style1{
  border-left: 1px solid #eee;
  height: 30px;
  vertical-align: middle;
  align-items: center;
  padding-left: 33px;
 }
 &.full-btn{
  >button.btn-sm{
   height: auto;
   width:auto;
  }
 }
}
.inside-page{
 .top-inside{

 }
}
.tv-tree-st1{
 .tree-anchor{
  .tree-icon{
   &.tree-themeicon{
    display: none;
   }
  }
 }
}
.show-detail-ro{
 // height: 100%;
 border: 1px solid #eee;
 border-radius: 3px;
 padding: 20px;
 background-color: #f9f9f9;
 display: block !important;
 box-shadow: 0px 0px 4px rgba(0,0,0,.12);
 .row{
  height: 40px;
  align-items: center;
  border-bottom: 1px dashed #eee;
  margin-left: 0;
  margin-right: 0;
  &:last-child{
   border-bottom: none;
  }
  label{
   margin-bottom: 0;
  }
  span{
   font-weight: bold;
  }
 }
}
.check-items{
 .form-control{
  background-color: transparent;
  border: none;
 }
 &.center-in-table{
  text-align: center;
  .form-control{
   background-color: transparent;
   border: none;
   margin-right: 0;
   width: auto;
  }
 }
}

.user-slot{
 .image{
  height: 51px;
  position: absolute;
  top: 0px;
  left: 4px;
  .inner{
   width: 32px;
   height: 32px;
   margin: auto;
   margin-top: 4px;
   border-radius: 16px;
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   border: 1px solid #ccc;
   .img-avatar{
    width: 32px;
    height: 32px;
    display: block;
   }
  }
 }
 .name{
  font-size: 14px;
  font-weight: bold;
  color: #555;
  padding-left: 48px;
  margin-right: 10px;
  border-right: 1px solid #eee;
  padding-right: 25px;
  .email{
   display: block;
   font-weight: normal;
   font-size: 12px;
   padding-top: 0px;
   color: rgba(0, 0, 0, 0.5);
  }
 }
}
.drop-lang{
 .dropdown-toggle{
  &:after{
   display: none;
  }
 }
 .img-lang{
  width: 28px;
  height: 28px;
  border-radius: 30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .8);
 }
 .dropdown-menu{
  margin-top: 7px;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0px rgba(0,0,0,0.2);
  border: none;
  overflow: hidden;
  .dropdown-item{
   padding: 8px 15px;
   .img-lang{
    width: 22px;
    height: 22px;
    border-radius: 30px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    margin-right: 10px;
   }
   &.active{
    background-color: #3498db;
   }
  }
 }
}
